<div class="modal" id="view-recipe" tabindex="-1" role="dialog" aria-labelledby="view-recipe-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="view-recipe-label">View Recipe</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputDescription">Description:</label>
          <textarea class="form-control inputDescription" rows="5" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="inputIngredients">Ingredients:</label>
          <textarea class="form-control inputIngredients" rows="5" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="inputSteps">Steps:</label>
          <textarea class="form-control inputSteps" rows="5" disabled></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
